*.css linguist-detectable=true
*.python linguist-detectable=true
*.js linguist-detectable=true
*.html linguist-detectable=true
*.xml linguist-detectable=true
*.json linguist-detectable=true
*.php linguist-detectable=true
*.perl linguist-detectable=true
*.c linguist-detectable=true

*.php linguist-language=PHP
